<div class="row">
    <div class="col-6 col-md-4" ng-repeat="ship in $ctrl.viewShips">
        <div class="thumbnail">
            <a ng-click="$ctrl.showDetails($index)">
                <div class="caption">
                    {{ship.name}}
                </div>
            </a>
            <div ng-show="$ctrl.details==$index" class="thumbnail border caption">
                <div class="text-right" style="cursor: pointer" ng-click="$ctrl.showDetails($index)">X</div>
                {{ship | json}}
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <button ng-click="$ctrl.getMore($ctrl.viewShips.length)">más datos</button>
</div>